name: Release
run-name: Release @fantacovid-19/${{ inputs.package }}

on:
  workflow_dispatch:
    inputs:
      package:
        description: "The package to release (optional, defaults to all packages)"
        required: true
        type: choice
        options:
          - ts-config

permissions:
  contents: read

jobs:
  release:
    name: Publish @fantacovid-19/${{ inputs.package }}
    uses: FantaCovid-19/FantaCovid-19/.github/workflows/reusable-publish.yml@main
    with:
      project-name: "@fantacovid-19/${{ inputs.package }}"
      working-directory: "packages/${{ inputs.package }}"
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
