name: Release
run-name: Release @fantacovid-19/${{ inputs.package }}

on:
  workflow_dispatch:
    inputs:
      package:
        description: "The package to release (optional, defaults to all packages)"
        required: true
        type: choice
        options:
          - ts-config
          - eslint-config
          - prettier-config
      skip-version-bump:
        description: "Whether to skip version bumping (optional, defaults to false)"
        required: false
        default: false
        type: boolean

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: Publish @fantacovid-19/${{ inputs.package }}
    uses: FantaCovid-19/FantaCovid-19/.github/workflows/reusable-publish.yml@main
    with:
      build: true
      project-name: "@fantacovid-19/${{ inputs.package }}"
      working-directory: "packages/${{ inputs.package }}"
      skip-version-bump: ${{ inputs.skip-version-bump }}
      pnpm-version: "10.30.0"
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
